.profile {
  background-color: white;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  border: 1px solid #cbcdcd;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.description {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.avatar {
  width: 150px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50%;
  border: 1px solid #d8e4e2;
}

.name {
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 25px;
  line-height: 1.5;
}

.tag {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #151515;
}

.location {
  padding-top: 2px;
  padding-bottom: 20px;
  color: #151515;
}

.stats {
  display: flex;
  height: 85px;
  margin: 0px;
  padding: 0px;
  background-color: #e7eef4;
  list-style: none;
}

.stats li {
  display: flex;
  justify-items: center;
  flex-direction: column;
  width: 100%;
  border: 1px solid #d8e4e2;
}

.label {
  display: flex;
  justify-content: center;
  padding: 20px 5px 5px 5px;
  color: #1f1f1e;
}

.quantity {
  text-align: center;
  font-weight: 600;
  color: #3c3e32;
}
