.transactionHistory {
  margin: 60px auto;
  width: 700px;
  font-family: sans-serif;
  border: 1px solid #cbcdcd;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 3px;
}

.transactionHistory thead th {
  width: 300px;
}

.transactionHistory thead tr {
  height: 50px;
  background: #5ccb76;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.transactionHistory tbody tr {
  height: 50px;
  color: #747577;
  background: #fff;
}

.transactionHistory tr:nth-child(even) {
  background: #f4f5f6;
}

.transactionHistory tbody tr:hover {
  background: #c9eeda;
  color: black;
}

.transactionHistory td {
  padding: 8px 4px;
  text-align: center;
}

.transactionHistory td:nth-child(3n + 1) {
  padding: 8px 4px;
  text-align: center;
  text-transform: capitalize;
}

.transactionHistory td:nth-child(4n-1) {
  font-weight: bold;
  text-transform: uppercase;
}
